.pages-post {
  #post {
    max-width: var(--max-page-width);
    margin-right: auto;
    margin-left: auto;

    .title {
      margin: 16px;
    }

    .time {
      margin: 16px;
    }

    .metadata-title {
      h1.title {
        display: inline-block;
        line-height: 40px;
      }

      .c-visibility {
        vertical-align: super;
      }

      .edit-link {
        display: inline-block;
        margin-left: 8px;
        vertical-align: super;
      }
    }
  }
}
