<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>

    <meta property="og:title" content="{{ .Title  }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="note.comame.xyz" />
    <meta property="og:description" content="{{ .OgDescription }}" />

    <link rel="stylesheet" href="/static/root.css" />
  </head>
  <body>
    <nav id="app-nav">
      {{if.IsLoggedIn}}
      <ul>
        <li><a href="/">TOP</a></li>
        <li><a href="/post/new">NEW</a></li>
      </ul>
      <ul>
        <li><a href="/manage/posts">POSTS</a></li>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
      {{else}}
      <ul>
        <li><a href="/">TOP</a></li>
        <li><a href="/editor/demo">EDITOR</a></li>
      </ul>
      <ul>
        <li><a href="/login">LOGIN</a></li>
      </ul>
      {{end}}
    </nav>
    <div id="body">{{ .Body }}</div>
  </body>
</html>
