<div id="editor-root">
  <nav id="editor-tab">
    <ul>
      <li><a href="#" id="tab-editor">Editor</a></li>
      <li><a href="#" id="tab-preview">Preview</a></li>
    </ul>
  </nav>
  <div id="editor-main">
    <textarea id="input"></textarea>
    <div id="output" class="hide-touch">loading...</div>
  </div>
</div>

<script type="module" src="/static/editor.js"></script>
<link rel="stylesheet" href="/static/editor.css" />

{{if .IsDemo}}
<script src="/static/editor_demo.js" type="module"></script>
{{end}}
