<link rel="stylesheet" href="/static/manage-posts.css" />

<ul>
  {{ range .Posts }}
  <li>
    <div>
      <div class="meta">
        <span class="c-visibility" data-visibility="{{ html .Visibility }}"
          >{{ visibilityLabel . | html }}</span
        >
        <a href="{{ postURL . | html}}" class="title">{{ html .Title }}</a>
      </div>
      <div class="buttons">
        <button data-href="{{ editURL . | html }}" class="edit-button">
          EDIT
        </button>
        <button data-id="{{ .ID | html}}" class="delete-button">DELETE</button>
      </div>
      <div class="time">
        <time>Created {{ .CreatedDatetime | html }}</time>
        <time>Updated {{ .UpdatedDatetime | html }}</time>
      </div>
    </div>
  </li>
  {{ end }}
</ul>

<script>
  const deleteButtons = document.querySelectorAll(".delete-button");
  for (const b of deleteButtons) {
    b.addEventListener("click", (e) => {
      if (!confirm("削除しますか？")) {
        return;
      }

      const id = e.currentTarget.getAttribute("data-id");
      fetch("/delete/post/" + id, {
        method: "POST",
      }).then((res) => {
        if (!res.ok) {
          return;
        }

        location.reload();
      });
    });
  }

  const editButtons = document.querySelectorAll(".edit-button");
  for (const b of editButtons) {
    b.addEventListener("click", (e) => {
      const href = e.currentTarget.getAttribute("data-href");
      location.href = href;
    });
  }
</script>
