<link rel="stylesheet" href="/static/post-page.css" />
<div id="post">
  <div class="metadata-title">
    <h1 class="title">{{.Post.Title}}</h1>
    <span class="c-visibility" data-visibility="{{ html .Post.Visibility }}"
      >{{ visibilityLabel .Post | html }}</span
    >
  </div>
  <ul class="time">
    <li>
      created:&nbsp;
      <time>{{toYMDString .Post.CreatedDatetime}}</time>
    </li>
    <li>
      updated:&nbsp;
      <time>{{toYMDString .Post.UpdatedDatetime}}</time>
    </li>
  </ul>
  <div class="post-html">{{ .Post.HTML}}</div>
</div>
